$color-blue : #3282f7;
$color-green: #68d9a4;
$color-red: #ed6454;
$color-grey-light: #e7e7e7;
$color-grey-dark: #c7bebe;

$border-radius: 5px;
$border-radius-top: 5px 5px 0 0;
$border-radius-bottom: 0 0 5px 5px;

$font-family-primary: "Lato", sans-serif;
$font-family-secondary: "Roboto", sans-serif;